* {
	font-family: 'Open Sans', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

h2 {
	font-weight: 300;
	text-transform: uppercase;
}

h3 {
	border-bottom: 1px solid #d1d2d3;
  padding-bottom: 10px;
}

h4 {
  margin-top: 10px;
}

header {
	height: 25px;
	background: #2f2235;
	padding: 20px 85px 20px 75px;
	display: flex;
	align-items: center;
	color: #fff;
	justify-content: space-between;
}

header hr {
	display: none;
}

.logo {
	font-size: 1.8rem;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
}

.logo span {
	color: #34D1D1;
}

main {
	padding: 60px 75px 0 85px;
}

hr {
	width: 80%;
	border-top: 1px solid #000;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.accordion-tabs {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.accordion-main {
	width: 90%;
	margin: 50px auto 0 auto;
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: repeat(4, 25%);
}

.header {
	display: flex;
	align-items: center;
}

.panel {
	border-left: 1px solid #D1D2D3;
	border-bottom: 1px solid #D1D2D3;
	border-right: 1px solid #D1D2D3;
	grid-row: 2;
	grid-column: 1 / 5;
}

.tab {
	font-size: 1rem;
	border-top: none;
	display: flex;
	height: 55px;
	justify-content: center;
	color: #666;
	background: #f2f2f2;
	border-right: 2px solid #fff;
	border-left: none;
}

.tab:hover {
	cursor: pointer;
}

.tab:focus {
	outline: none;
}

.tab.active{
	background-color: #fff;
	border-top: 1px solid #D1D2D3;
	border-left: 1px solid #D1D2D3;
	border-right: 1px solid #D1D2D3;
	border-bottom: 0;
	font-weight: 600;
}

.panel {
	padding: 25px 30px;
	display: flex;
	justify-content: space-between;
}

.panel-img {
	background: #eee;
	height: 400px;
	width: 33%;
	border: 1px solid #ccc;
}

.panel-text {
	width: 62%;
}

.panel {
	display: none;
}

.panel-info {
	grid-row: 2;
	grid-column: 1 / 5;
}

.panel.active {
	display: flex;
}

.view-code {
	padding: 10px 100px;
	border: none;
	background: #2F2235;
	font-weight: 100;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	margin: 50px auto;
	display: inherit;
}

.flexible-cards-main {
	width: 90%;
	margin: 50px auto 0 auto;
}

.flexible-cards-header {
	margin-top: 100px;
}

.flexible-cards-top, .flexible-cards-middle, .flexible-cards-bottom {
	display: flex;
	justify-content: space-between;
}

.flexible-box-1 {
	width: calc(66% - 30px);
}

.flexible-box-2 {
	width: 33%;
}

.flexible-box-3 {
	width: calc(33% - 30px);
}

.flexible-box-4 {
	width: calc(33% - 30px);
}

.flexible-box-5 {
	width: 33%;
}

.flexible-box-6 {
	width: calc(33% - 30px);
}

.flexible-box-7 {
	width: 66%;
}

.flexible-cards h3 {
	border: 1px solid #d1d2d3;
	padding-left: 20px;
	height: 55px;
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

.flexible-img {
	width: calc(100% - 2px);
	height: 200px;
	background: #eee;
	border-bottom: 1px solid #d1d2d3;
	border-left: 1px solid #d1d2d3;
	border-right: 1px solid #d1d2d3;
	border-top: 0;
}

/** HEADER BAR **/

.header-main {
	width: calc(90% - 80px);
	background: #d1d2d3;
	margin: 50px auto 0 auto;
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header-logo {
	border-radius: 50%;
	color: #888;
	border: 1px solid #888;
	background: #f2f2f2;
	width: 80px;
	height: 80px;
	text-transform: uppercase;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	width: 70%;
	margin-right: 30px;
	justify-content: space-between;
	display: flex;
	text-align: center;
}

nav a {
	color: #444;
	font-size: 1.1rem;
	text-decoration: none;
}

.search-box {
	padding: 0 10px;
	color: #444;
	width: 20%;
	height: 45px;
	background: #f2f2f2;
	display: flex;
	align-items: center;
}

.search-box img {
	height: 30px;
	margin-right: 10px;
}

.mobile-header {
	width: 80px;
}

.mobile-header h3 {
	display: none;
}

.mobile-dropdown {
	width: 84%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mobile-dropdown a {
	font-size: 1.2rem;
}

.button {
	margin: 0 auto;
	display: inherit;
}}